.search-wrapper {
    width: 821.602px;
    height: 68.186px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    padding: 12px 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: none;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: #665F5F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.182%; /* 19.869px */

}

.search-input::placeholder {
    opacity: 0.5;
    color: #665F5F;
    text-align: left;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.182%; /* 19.869px */
}

.search-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    opacity: 0.6;
    transition: 0.2s;
    outline: none;
}

.search-button:hover {
    opacity: 1;
    transform: scale(1.1);
    border: none;
    outline: none;
}

.search-button:active {
    opacity: 1;
    border: none; 
    outline: none;
}

.search-button:focus {
    outline: none;
    border: none;
}