.hero-buy-h2 {
    color: #665F5F;
    text-align: center;
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.182%; /* 69.542px */
    text-transform: uppercase;
}

.hero-buy-p{
    color: #665F5F;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.182%; /* 29.804px */
    width: 481px;
}

.hero-buy-btn {
    border-radius: 5px;
    background: #FFD1D7;
    width: 282.048px;
    height: 78.648px;
    flex-shrink: 0;
    color: #665F5F;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.182%; /* 29.804px */
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-buy-btn:hover {
    scale: 1.03;
    outline: none;
    border: none;
    color: #665F5F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-buy-btn:focus {
    outline: none;
    border: none;
    color: #665F5F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-buy-btn:active {
    outline: none;
    border: none;
    display: flex;
    color: #665F5F;
    align-items: center;
    justify-content: center;
}

.hero-buy {
    margin-top: 100px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
}
