.hero-product {
    margin-top: 70px;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.product-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.product-main-img {
    border-radius: 5px;
    width: 402px;
    height: 402px;
    flex-shrink: 0;
}

.product-h1-cont {
    width: 1170px;
}

.product-h1 {
    color: #665F5F;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    align-self: self-start;
    font-weight: 400;
    line-height: 124.182%; /* 24.836px */
}
.product-h2 {
    color: #665F5F;
    width: 501.743px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.182%; /* 29.804px */
}
.product-price {
    color: #665F5F;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.182%; /* 29.804px */
}

.shipping-text {
    color: #665F5F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.182%;
}

.product-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.product-buy-block {
    display: flex;
    align-items: flex-start;
    gap: 28px;
}

.quantity-block-text {
    color: #665F5F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.182%; /* 19.869px */
}

.quantity-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pickup-text {
    width: 285px;
    flex-shrink: 0;
    color: #665F5F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.182%; /* 19.869px */
}

.pickup-text span{
    font-weight: 700;
}

.recent-h-title{
    color: #665F5F;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.182%; /* 29.804px */
    text-transform: uppercase;
}

.recently-viewed-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
}

.btn-pink-big{
    width: 236.18px;
    height: 63.174px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFD1D7;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.182%; /* 29.804px */
    transition: 0.4s;
}

.btn-pink-big:hover {
    outline: none;
    border: none;
    scale: 1.03;
    background-color:  #665F5F;
}
.btn-pink-big:active {
    outline: none;
    border: none;
    background-color:  #665F5F;
}
.btn-pink-big:focus {
    outline: none;
    border: none;
    
}


















